thead {
    background: #226AA3;
    color: #fff;

    p {
        font-size: 13px;
        font-weight: normal;
    }
}

.circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    color: #fff;
    font-size: 12px;
}

.bg-height {
    background-color: #C00000;
    color: #fff;
}

.bg-moderate {
    background-color: #FFC000;
}

.bg-low {
    background-color: #92D050;
}

.bg-aic {
    background-color: #00B0F0;
}