.page {
  background: white;
  display: block;
  margin: 0;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

// .page[size="A4"] {
//   width: 21cm;
//   height: 27.9cm;
// }

.page[size="A4"] {
  width: 21cm;
  height: 29.65cm;
  background: #fff;
  position: relative;

  header {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: end;
    position: relative;

    .temp {
      position: absolute;
      width: 100%;
      height: 50px;
      background-color: #226aa3;
    }

    .logo-haeder {
      position: absolute;
      top: 50px;
      left: 5px;
      width: 35%;
      height: 80px;
      background-image: url("../images/logo.png");
      background-repeat: no-repeat;
      background-position: 20px;
      background-size: 250px;
    }

    .square-header-homepage {
      width: 60%;
      height: 130px;
      // background-image: url("../images/d9-03.png");
      // background-position: center;
      // background-size: cover;
      position: relative;

      img {
        position: absolute;
        top: -23px;
        right: -8px;
        width: 100%;
        height: auto;
      }
    }

    .square-header {
      width: 70%;
      height: 130px;
      background-image: url("../images/temp-right.png");
      background-position: left;
      position: relative;

      .content {
        position: absolute;
        top: 20%;
        left: 32%;
        width: 70%;
        // border: 1px solid #fff;

        p {
          font-size: 11px;
          color: #fff;
        }
      }
    }
  }

  .con-content-homepage {
    // border: 1px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 60%;

    .content1 {
      // border: 1px solid #000;
      height: 55%;

      h1 {
        margin-bottom: 1.5rem;
      }

      h2 {
        margin-left: 3.5rem;
      }
    }

    .content2 {
      text-align: end;

      .text1 {
        margin-bottom: 11px;
      }

      .text2 {
        margin-bottom: 1.5rem;
      }

      .text3 {
        margin-bottom: 11px;
        font-weight: 600;
      }
    }
  }

  .temp-1 {
    width: 100%;
    height: 43px;
    background: #f0f0f0;
    position: absolute;
  }

  .con-temp {
    width: 35%;
    height: 100%;
    position: relative;

    .temp-left {
      width: 43px;
      height: 100%;
      position: relative;
      background: #f0f0f0;
    }

    img {
      position: absolute;
      bottom: -13px;
      left: -35px;
      width: 65%;
    }
  }

  .content-preview2 {
    // border: 1px solid red;
    position: absolute;
    bottom: 30%;
    width: 90%;
    height: 30%;
    text-align: end;
  }

  .con-content {
    width: 90%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .priority > p {
      margin-bottom: 9px;
    }

    .chapter {
      padding-left: 3rem;
      margin-bottom: 2rem;
    }

    .con-table {
      height: 70px;
      background-color: #226aa3;
      color: #fff;
      flex-wrap: wrap-reverse;

      .frame {
        border: 1px solid #fff;
      }

      .placement {
        display: flex;
        align-items: center;
      }

      .level-height {
        background-color: #c00000;
      }

      .level-moderate {
        background-color: #ffc000;
        color: #000;
      }

      .level-low {
        background-color: #92d050;
        color: #000;
      }

      .level-aic {
        background-color: #00b0f0;
        color: #000;
      }
    }

    .main-title {
      height: 40px;
      display: flex;
      align-items: center;
      color: #fff;
      background-color: #226aa3;
    }

    .sub-title {
      height: 30px;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;
      // page-break-before: right;
    }

    .text {
      // height: 40px;
      background-color: #f2f2f2;

      .col-text {
        max-width: 100%;
        word-wrap: break-word;
        padding: 5px;
      }
    }
    // .page-break {
    //   page-break-before: always;
    // }
  }

  .footer-homepage {
    width: 813px;
    height: auto;
    position: relative;

    img {
      position: absolute;
      bottom: -2px;
      left: -8px;
      width: 100%;
    }
  }

  footer {
    width: 100%;
    max-height: 130px;
    position: absolute;
    top: 90%;

    .footer-temp {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: #c00000;
    }
  }

  .footer-component {
    width: 100%;
    height: 90px;
    position: relative;

    .img {
      width: 70%;
      height: 100%;
      background-image: url("../images/temp-left.png");
      background-position: right;
      position: absolute;
      z-index: 99;
    }

    .square {
      width: 100%;
      height: 40px;
      background-color: #c00000;
      position: absolute;
      bottom: 0;
    }
  }

  .footer-test {
    width: 100%;
    position: absolute;
    bottom: 0;
    // left: 50%;
  }
}

/*-----    Detail.vue     -----*/

.con-detail {
  width: 80%;
  margin: 0 auto;
}

.head-table {
  color: #fff;
  background-color: #002060;
}

.detail-height {
  color: #fff;
  background-color: #c00000;
}

.detail-moderate {
  background-color: #ffc000;
}

.detail-low {
  background-color: #92d050;
}

.detail-aic {
  background-color: #00b0f0;
}

thead th {
  text-align: center;
  width: 4%;
}

@page {
  counter-increment: page;
}

.page-number::before {
  content: "Page " counter(page);
}
