@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/*          Priorty            */

.height {
  background-color: #c00000;
  color: #ffff;
}

.moderate {
  background-color: #ffc000;
  color: #ffff;
}

.low {
  background-color: #92d050;
  color: #ffff;
}

.AIC {
  background-color: #00b0f0;
  color: #ffff;
}

/********** Tasks.vue***********/

.tr-number {
  width: 5%;
}

.tr-name {
  width: 60%;
}

/*********  New.vue ***********/

.th-lavel {
  width: 30%;
}

.th-height {
  background: #c00000;
  color: #fff;
  text-align: center;
}

.th-moderate {
  background: #ffc000;
  color: #fff;
  text-align: center;
}

.th-low {
  background: #92d050;
  color: #fff;
  text-align: center;
}

.th-aic {
  background: #00b0f0;
  color: #fff;
  text-align: center;
}

.form-content {
  margin-top: 5rem;
}

section > header {
  font-size: 1.2rem;
  font-weight: 600;
}

.desciption {
  width: 500px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  padding: 10px;
}

/*******************************************************************************************/

.container-form {
  border: 1px solid rgb(107, 107, 107);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.303);
}

.form-offer {
  border: 1px solid rgb(107, 107, 107);
  padding: 1rem;
  border-radius: 5px;
  background-color: #1c1966;
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 30%);
  color: #fff;
}

.form-details {
  border: 1px solid rgb(39, 39, 39);
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
}

.title-head-form1 p {
  font-size: 1.1rem;
  font-weight: 600;
}

.title-head-form {
  /* margin-left: 7.7rem; */
  margin-top: 1rem;
}

.title-head-form p {
  font-size: 1.1rem;
  font-weight: 600;
}

/********************************************************/

/* The container */
.container-box {
  display: flex;
  position: relative;
  padding-left: 6rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
}

.container-box {
  margin-right: 1rem;
}

.con-check {
  width: 100%;
  height: 30px;
}
input[type="radio"],
input[type="checkbox"] {
  width: 17%;
  box-sizing: border-box;
  padding: 0px;
}

/* Hide the browser's default checkbox */
.container-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.vue-icon {
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 3px;
}

/****************************** Result.vue **************************************/

.container-result {
  display: flex;
  justify-content: center;
}

.row-title {
  background-color: #1c1966;
  color: #fff;
}

.row-footer {
  background-color: #1c1966a9;
  color: #fff;
}

.container-result .container {
  width: 75%;
}

.sub-topic {
  background-color: #e7e6ff;
}

.details-circle {
  background-color: #e7e6ff;
}

/*                       ResuleCircle.vue                          */

.circle-border {
  background-color: #fff;
  border: 1px solid red;
}

/*                       dashboard.vue                          */

input.form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 0 0 0 transparent;
}
